<div class="row">
  <div class="span4">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit t('view.session_new.submit'), class: "btn btn-large btn-primary" %>
    <% end %>

    <p>
      <%= t('view.session_new.newuser?') %> 
      <%= link_to t('view.session_new.signupnow!'), signup_path %>
    </p>
  </div>
</div>
